body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-row-gap: 15px;
}

.header-container {
    grid-area: header;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-buttons a {
    color: black;
    margin: 10px;
    font-size: large;
    text-decoration: none;
}

.section-container {
    grid-area: img;
    background-image: url(assets/tech-moms-working.jpg);
    background-size: cover;
    height: 500px;
}

.footer-container {
    grid-area: footer;
}

.footer-design {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-buttons i {
    /*background-color: white;
    color: black;*/
    margin-right: 3px;
}

.social-buttons {
    display: flex;
}

.square {
    color: black;
}

#insta-box {
    margin-top: 2px;
    color: white;
    background-color: black;
    width: 43px;
    height: 43px;
    border: 3px;
  }
    
.insta {
    color: #fff;
    margin: 5px 0 0 7.5px;
  }

.main-container{
    grid-area: main;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: "img sidebar";
    grid-row-gap: 15px;
    border-bottom: 60px solid #4e1a3d;
}

.sidebar-container {
    grid-area: sidebar;
    background-color: #06b0b6;
    align-items: flex-end;
}

.read-button {
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 16px;
    display: flex;
    gap: 30px;
}

.btn {
    background-color: #c7647b;
    border: 0;
    margin-left: 30px;
}


.title {
    font-size: 35pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 5px solid black;
    margin-right: 15px;
    margin-left: 30px;
}

.paragraph-container {
    margin-left: 30px;
    margin-right: 15px;
}

.stories{
    margin-left: 30px;
    margin-top: 30px;
}

